@using GraphLabs.Site.Models.TestPool
@model GraphLabs.Site.Models.TestPool.TestPoolModel


@{
    ViewBag.Title = "Создание тестпула";
}

<hgroup>
    <h2>@ViewBag.Title.</h2>
    @Html.ActionLink("Обратно к списку", "Index")
</hgroup>

<span class="field-validation-error">
    @ViewBag.Message
</span>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <div class="editor-label">
            Название тестпула
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            Вопросы тестпула
        </div>
        <div class="editor-row">
            @if (Model != null)
            {
                foreach (var item in Model.TestPoolEntries)
                {
                    <div class="editorRow">
                        @Html.EditorForModel(item)
                        @Html.ActionLink("Удалить","Delete","TestPoolEntry", new {testPoolEntryId = item.Id})
                    </div>
                }
            }
        </div>
        <div class="">
            @Html.ActionLink("Добавить", "Create","TestPoolEntry", new {testPoolId = Model.Id})
        </div>

        <p>
            <input type="submit" value="Создать"/>
        </p>
    </fieldset>

}

@section Scripts {
     @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $("#addItem").click(function() {
            $.ajax({
                url: this.href,
                cache: false,
                success: function(html) { $("#editorRows").append(html); }
            });
            return false;
        });
    </script>
}
