@using GraphLabs.DomainModel
@model GraphLabs.Site.Models.TestPool.TestPoolModel


@{
    ViewBag.Title = "Создание тестпула";
}

<h2>Редактирование тестпула</h2>

<hgroup>
    <h2>@ViewBag.Title.</h2>
    @Html.ActionLink("Прекратить редактирование", "Index")
</hgroup>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <div class="editor-label">
            Название тестпула
        </div>
        <div id="testPoolId">@Model.Id</div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
    </div>
    <div class="editor-label">
        Вопросы тестпула
    </div>
    <div class="editor-row" id="editorRows">
        @if (Model != null)
        {
            foreach (var item in Model.TestPoolEntries)
            {
                <div class="editor-row" id="testPoolEntry @item.Id">
                <div class="editor-label">
                    Вопрос тестпула № @item.Id
                </div>
                    <div class="editor-field">
                        <p>Выбранный вопрос</p>
                        <p id="score @item.Id">@item.TestQuestion.Question</p>
                        @*<input id="score @item.Id" type="text" value="@item.TestQuestion.Question"/>*@
                        <p>Количество баллов</p>
                        <input id="score @item.Id" type="number" value="@item.Score"/>
                        <div class="editor-label">
                            Выбор стратегии
                        </div>
                        <select>
                            <option selected="@(item.ScoringStrategy == ScoringStrategy.AllCorrectVariantsShouldBeSpecified)" value="0">
                                Учёт только верных
                            </option>
                            <option selected="@(item.ScoringStrategy == ScoringStrategy.AnyCorrectVariantCanBeSpecified)"value="1">
                                Учёт всех
                            </option>
                        </select>
                        <button onclick="deleteTestPoolEntry(@item.Id);" type="button" id="delete @item.Id">Удалить</button>
                    </div>
                    </div>
            }
        }
    </div>
        <div class="editor-label">
            Добавить новый вопрос
        </div>
        <div class="editor-row">
            <div class="editor-label">
                Выбрать вопрос
            </div>
            <input type="text" id="search_box"/>
            <input type="hidden" value="" id="questionIdNew"/>
            <div id="search_advice_wrapper"></div>
            <div class="editor-label">
                Оценить размер общего балла
            </div>
            <input type="number" id="scoreNew"/>
            <div class="editor-label">
               Выбор стратегии
            </div>
            <select id="selectNew">
                <option value="0">
                    Учёт только верных
                </option>
                <option value="1">
                    Учёт всех
                </option>
            </select>
            <button onclick="addTestPoolEntry();"  type="button">Добавить вопрос</button>
        </div>

    <p>
        <input type="submit" value="Завершить редактирование"/>
    </p>
        </fieldset>
}

<style>
    .search_area {
        width: 350px;
        margin: 0px;
        position: relative;
    }

    #search_box {
        width: 200px;
        padding: 2px;
        margin: 1px;
        border: 1px solid #000;
    }

    #search_advice_wrapper {
        display: none;
        width: 350px;
        background-color: rgb(80, 80, 114);
        color: rgb(255, 227, 189);
        -moz-opacity: 0.95;
        opacity: 0.95;
        filter: progid:DXImageTransform.Microsoft.Alpha(opacity=95);
        filter: alpha(opacity=95);
    }

    #search_advice_wrapper .advice_variant {
        cursor: pointer;
        padding: 5px;
        text-align: left;
    }

    #search_advice_wrapper .advice_variant:hover {
        color: #FEFFBD;
        background-color: #818187;
    }

    #search_advice_wrapper .active {
        cursor: pointer;
        padding: 5px;
        color: #FEFFBD;
        background-color: #818187;
    }
</style>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")

    <script type="text/javascript">
        var suggest_count = 0;
        var input_initial_value = '';
        var suggest_selected = 0;
       
        var key_activate = (n) => {
            console.log('I\'m here');
            $('#search_advice_wrapper div').eq(suggest_selected - 1).removeClass('active');

            if (n === 1 && suggest_selected < suggest_count) {
                suggest_selected++;
            } else if (n == -1 && suggest_selected > 0) {
                suggest_selected--;
            }

            if (suggest_selected > 0) {
                $('#search_advice_wrapper div').eq(suggest_selected - 1).addClass('active');
                $("#search_box").val($('#search_advice_wrapper div').eq(suggest_selected - 1).text());
            } else {
                $("#search_box").val(input_initial_value);
            }
        };

        var chooseIt = (str, i) => {
            document.getElementById('search_box').value = str;
            $('#search_advice_wrapper').fadeOut(350).html('');
            document.getElementById('questionIdNew').value = i;
        };


        $("#search_box").keypress(i => {
            $.ajax({
                url: '/survey/Load',
                method: "POST",
                data: JSON.stringify({
                    Question: $("#search_box").val() + i.key
                }),
                contentType: 'application/json; charset=utf-8',
                success: data => {
                    var suggest_count = data.length;
                    if (suggest_count > 0) {
                        $("#search_advice_wrapper").html("").show();
                        for (var i in data) {
                            if (data[i] !== '') {
                                var str = data[i]['Item1'];
                                $('#search_advice_wrapper').append('<div onclick="chooseIt(\'' + str + '\',' + data[i]['Item2'] + ');" class="advice_variant" id="' + data[i]['Item2'] + '">' + data[i]['Item1'] + '</div>');
                            }
                        }
                    }
                }
            });
        });
        $("#search_box").keydown(I => {
            switch (I.keyCode) {
            case 13: // enter
            case 27: // escape
                $('#search_advice_wrapper').hide();
                return false;
                break;
            case 38: // стрелка вверх
            case 40: // стрелка вниз
                I.preventDefault();
                if (suggest_count) {
                    key_activate(I.keyCode - 39);
                }
                break;
            }
        });


        $('html').click(() => {
            $('#search_advice_wrapper').hide();
        });

        $('#search_box').click(event => {
            if (suggest_count)
                $('#search_advice_wrapper').show();
            event.stopPropagation();
        });

        var addTestPoolEntry = () => {
            $.ajax({
                url: '/testpoolentry/Create',
                method: "POST",
                data: JSON.stringify({
                    Id: 0,
                    Score: parseInt($("#scoreNew").val()),
                    ScoringStrategy: parseInt($("#selectNew option:selected").val()),
                    TestQuestion:  parseInt($("#questionIdNew").val()),
                    TestPool: parseInt($("#testPoolId").text())
                }),
                contentType: 'application/json; charset=utf-8',
                success: html => { $("#editorRows").append(html); }
            });
        };

        var deleteTestPoolEntry = (id) => {
            $.ajax({
                url: '/testpoolentry/Delete',
                method: "POST",
                data: id,
                success: () => { $("#delete " + id).html("") }
            });
        };
    </script>
}


