@using GraphLabs.Site.Models.TestPool
@model GraphLabs.Site.Models.TestPool.TestPoolListModel

@{
    ViewBag.Title = "Тестпулы";
}

<hgroup>
    <h2>Тестовые наборы</h2>
    @Html.ActionLink("Добавить", "Create")
</hgroup>

<style type="text/css">
    .idColumn {
        width: 10%;
    }

    .nameColumn {
        width: 70%;
    }

    .openColumn {
        width: 20%;
    }
</style>

@{
    var grid = new WebGrid(Model, canPage: true, canSort: true, rowsPerPage: 10);
    grid.Pager(WebGridPagerModes.All);
    @grid.GetHtml(tableStyle: "webGrid",
            headerStyle: "webgrid-header",
            footerStyle: "webgrid-footer",
            rowStyle: "webgrid-row",
            alternatingRowStyle: "webgrid-altrow",
            selectedRowStyle: "webgrid-selected-row",
            caption: null,
            displayHeader: true,
            htmlAttributes: new { id = "datatable" },

            columns: grid.Columns(
                grid.Column(header: "#", format: item => item.Id, columnName: "Id", style: "idColumn"),
                grid.Column(header: "Название", format: item => item.Name, columnName: "Name", style: "nameColumn"),
                grid.Column(header: "Редактировать", format:item => @Html.ActionLink("Редактировать","Edit",new {id = item.Id}, null), columnName: "Edit", style: "deleteColumn"),
                grid.Column(header: "Удалить", format:item => @Html.ActionLink("Удалить","Delete",new {testPoolId = item.Id}, null), columnName: "Delete", style: "deleteColumn")
                )
            );
}

<div id="testpool-previews">
    <input type="hidden" id="base-testpool" value="@ViewBag.PreviewTestPoolId"/>
    @foreach (var test in Model.Items)
    {
        var questionCounter = 0;
        <div class="testpool-preview" style="display: none;">
            <input type="hidden" class="testpool-preview-id" value="@test.Id"/>
            <h3>Тест "@test.Name"</h3>
            @foreach (var entry in test.TestPoolEntries)
            {
                questionCounter++;
                <p><b>Вопрос @questionCounter: @entry.TestQuestion.Question</b>
                </p>
                foreach (var variant in entry.TestQuestion.AnswerVariants)
                {
                    if (variant.IsCorrect)
                    {
                        <input type="checkbox" checked disabled=""/>
                    }
                    else
                    {
                        <input type="checkbox" disabled=""/>
                    }
                    <span>@variant.Answer</span>
                    <br/>
                }
            }
        </div>
    }
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            showTestPoolPreview($("#base-testpool").val());
        });

        $('tbody tr').click(function() {
            var testpoolId = $(this).find('td:first').text();
            showTestPoolPreview(testpoolId);
        });

        function showTestPoolPreview(id) {
            $("#testpool-previews").find(".testpool-preview-id").each(function () {
                if ($(this).val() == id) {
                    $(this).parent().show();
                } else {
                    $(this).parent().hide();
                }
            });
        }
    </script>
}
