@model GraphLabs.Site.Models.GroupPermissions

@{
    ViewBag.Title = "Управление правами";
}

<h2>Управление правами @Html.DisplayFor(model => model.Group_Name)</h2>

@using (Html.BeginForm()) {
      @Html.ValidationSummary(true)
<fieldset>

    <legend>@Html.DisplayFor(model => model.Group_Name)</legend>

    @Html.HiddenFor(model => model.ID_Group)

<table>
    <tr>
        <th></th>
        <th>
            Описание
        </th>
        <th></th>
    </tr>

@for(int i=0; i<Model.Permissions.Count; ++i) {
    <tr>
        <td>
            @Html.CheckBoxFor(modelItem => modelItem.Permissions[i].Enable, new { id = "box_"+i.ToString() })
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.Permissions[i].Name)
        </td>
        <td>
        @Html.HiddenFor(modelItem => modelItem.Permissions[i].ID)
        @Html.HiddenFor(modelItem => modelItem.Permissions[i].ID_Permission)
        @Html.HiddenFor(modelItem => modelItem.Permissions[i].Name)
        </td>
    </tr>
}

</table>
    <p>
        <input type="button" value="Снять выделение" onclick="fillall( @Model.Permissions.Count , false )" />
        <input type="button" value="Отметить все" onclick="fillall( @Model.Permissions.Count , true )" />
        <input type="button" value="Стандартные права" onclick="standard()" />
    </p>
    <p>
        <input type="submit" value="Сохранить" />
    </p>
</fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    
    <script type="text/javascript">
        function fillall(count, value) {
            for (var i = 0; i < count; i++) {
                document.getElementById('box_' + i.toString()).checked = value;
            }
        }

        function standard()
        {
            alert('not implemented yet :(');
        }
    </script>
}