
@model GraphLabs.Site.Models.News.NewsListModel

@if (!Model.Any())
{
    
    <p>Тут будут новости</p>
}
else
{
    foreach (var entry in Model)
    {
        <div class="news-block">
            <hgroup>
                <h2>@entry.Title</h2>
                @if (entry.CanEdit)
                {
                    <h3>
                        @{
                            var editImage = string.Format(
                                @"<a href=""/Home/Edit/{0}""><img src=""{1}"" alt=""Редактировать"" width=""16"" height=""16\"" /></a>",
                                entry.Id,
                                Url.Content("../Images/edit.png"));
                        }
                        @Html.Raw(editImage)
                    </h3>
                }
            </hgroup>

            <p>
                @{
                    var text = string.Join(
                        "<br/>",
                        entry.Text
                            .Split(new[] {Environment.NewLine}, StringSplitOptions.None)
                            .Select(HttpUtility.HtmlEncode)
                        );
                }
                @MvcHtmlString.Create(text)
            </p>
            
            <div class="news-footer">
                <hr/>
                <div class="float-left">@entry.PublishDate</div>
                <div class="float-right">@entry.Publisher</div>
            </div>
        </div>
    }
}