@model GraphLabs.Site.Models.CreateLabVariantModel

@{
    ViewBag.Title = "Создание варианта лабораторной работы";
}

<h2>@ViewBag.Title "@Model.Name"</h2>
@Html.ActionLink("Обратно к списку лабораторных работ", "Index")

<br />

<div class="widthSection">
<span id="error" class="field-validation-error"></span>
</div>

<div>
    <label>Номер варианта лабораторной работы</label>
    <input id="varNum" name="variantNumber" type="text" value="" />
</div>
<p id="instr">Выберите вариант для каждого задания лабораторной работы</p>

<table>
    <tr>
        <th class="tableHeader">Задания</th>
        <th class="tableHeader">Варианты</th>
    </tr>
@foreach (var item in Model.Variant)
{
    <tr>
    <th>@item.Key.Value</th>
    <td>
    <select id="@item.Key.Key">
        <option value="no">Не выбрано...</option>
        @foreach (var elem in item.Value)
        {
            <option value ="@elem.Key">@elem.Value</option>
        }
    </select>
    </td>
    </tr>
}
</table>
<br />
<input disabled id="save" type="button" value="Сохранить"/>
<input id="random" type="button" value="Заполнить случайными значениями"/>

@section Scripts
{
    <script>
        $(document).ready(function () {
            if (@Model.varId != 0)
            {
                $("title").html("Редактирование варианта лабораторной работы");
                $("h2").html('Редактирование варианта лабораторной работы "@Model.Name"');
                $("#error").html("Вариант загружается...");
                var result="varId=@Model.varId";
                $.ajax({
                    type: "POST",
                    url: "EditVariant",
                    data: result,
                    error: function() {
                        alert("Невозможно загрузить вариант работы");
                        location.href = "/Labs";
                    },
                    success: function (data) {
                        SucEditLoad(data);
                    }
                });
            }
        });

        function SucEditLoad(data) {
            var obj = jQuery.parseJSON(data);
            switch (obj.Result) {
                case 0:
                    $("#error").html("");
                    $("#varNum").val(obj.Name);
                    for (var i = 0; i < obj.Variant.length; ++i) {
                        $("#" + obj.Variant[i].Key).find("option[value=" + obj.Variant[i].Value + "]").attr("selected", "selected");
                        $("#" + obj.Variant[i].Key).find("option[value='no']").detach();
                        $("#" + obj.Variant[i].Key).parent().parent().find("th").replaceWith(function (index, oldHTML) {
                            return $("<td>").html(oldHTML);
                        });
                    };
                    if ($("option[value='no']").size() == 0) {
                        $("#save").removeAttr("disabled");
                    };
                    break;
                case 1:
                    alert("Вариант работы не найден!");
                    location.href = "/Labs";
                    break;
            };
        };

        $("option").click(function () {
            $(this).parent().find("option[value='no']").detach();
            $(this).parent().parent().parent().find("th").replaceWith(function (index, oldHTML) {
                return $("<td>").html(oldHTML);
            });
            if ($("option[value='no']").size() == 0) {
                $("#save").removeAttr("disabled");
            };
        });

        $("#random").click(function () {
            $("#save").removeAttr("disabled");
            $("option[value='no']").detach();
            $("th").not(".tableHeader").replaceWith(function (index, oldHTML) {
                return $("<td>").html(oldHTML);
            });

            $("select").each(function () {
                var num = $(this).find("option").length;
                var rand = Math.floor(Math.random() * num);
                $(this).find("option:eq("+rand+")").attr("selected", "selected");
            });
        });

        $("#save").click(function () {
            if ($("#varNum").attr("value") == "") {
                $("#error").html("Необходимо ввести номер варианта");
                return;
            };
            $("#error").html("Отправка данных на сервер...");
            var list = new Array();
            $("select").each(function () {
                list.push($(this).val());
            });
            var result = "Id=@Model.id&Number=" + $("#varNum").attr("value") + "&JsonArr=" + JSON.stringify(list) + "&variantId=@Model.varId";
            $.ajax({
                type: "POST",
                url: "CreateVariant",
                data: result,
                error: function () {
                    $("#error").html("Невозможно отправить данные");
                },
                success: function (data) {
                    Suc(data);
                }
            });
        });

        function Suc(data) {
            switch (data) {
                case "0":
                    $("#error").html("Вариант успешно сохранен!");                    
                    break;
                case "1":
                    $("#error").html('Невозможно сохранить вариант: лабораторная работа "@Model.Name" отсутствует');
                    break;
                case "2":
                    $("#error").html('Вариант с таким номером уже существует!');
                    break;
                case "3":
                    $("#error").html('При сохранении потерян вариант лабораторной работы');
                    break;
                case "4":
                    $("#error").html('Вариант успешно обновлен!');
                    break;
            };
        };

    </script>
}