@using GraphLabs.Site.Controllers.LabWorks
@model GraphLabs.Site.Models.CreateLab.CreateLabModel

@{
    ViewBag.Title = "Создание лабораторной работы";
}

<h2>@ViewBag.Title</h2>
@Html.ActionLink("Обратно к списку лабораторных работ", "Index")

<div class="widthSection">
    <span id="error" class="field-validation-error"></span>
    <span id="success" class="field-validation-success"></span>
    <fieldset>
        <legend>Информация о лабораторной работе</legend>
        <ol>
            <li>
                <label>Название лабораторной работы</label>
                <input id="labName" name="Name" type="text" value="" />
            </li>
            <li>
                <label>Дата начала доступности работы</label>
                <input id="dateFrom" name="DateFrom" type="date" />
            </li>
            <li>
                <label>Дата окончания доступности работы</label>
                <input id="dateTill" name="DateTill" type="date" />
            </li>
        </ol>
    </fieldset>

</div>

<div id="createLabLeftPanel">
    <h3 class="buttonCenter">Список доступных заданий</h3>
    <input id="firstSelectSize" type="number" value="8" />
<select id="firstSelect" class="labSelectLeft" size="8">
    @foreach (var item in Model.Tasks)
    {
        <option value="@item.Key">
            @item.Value
        </option>        
    }        
</select>
</div>

<input id="delOpt" class="arrowButton" type="button" value="<"/>
<input id="addOpt" class="arrowButton" type="button" value=">"/>

<div id="createLabRightPanel">
    <h3 class="buttonCenter">Список выбранных заданий</h3>
    <input id="secondSelectSize" type="number" value="8" />
    <select id="secondSelect" class="labSelectRight" size="8">
    </select>
    <div class="buttonCenter">
        <input id="VarUp" type="button" value="˄"/>
        <input id="VarDown" type="button" value="˅"/>
    </div>
</div>

<div class="widthSection">
    <input id="save" type="button" value="Сохранить"/>
    <input id="saveAndCreate" type="button" value="Сохранить и перейти к созданию вариантов"/>
</div>

@section Scripts
{
    <script>
        var wantCreate = 0;

        $(document).ready(function () {
            if (@Model.Id != 0) {
                $("title").html("Редактирование лабораторной работы");
                $("h2").html("Редактирование лабораторной работы");
                $("#error").html("Лабораторная работа загружается...");
                $("#save").attr("disabled", "disabled");
                $("#saveAndCreate").detach();
                result="Id=@Model.Id";
                $.ajax({
                    type: "POST",
                    url: "EditLab",
                    data: result,
                    error: function() {
                        alert("Невозможно загрузить лабораторную работу");
                        location.href = "/Labs";
                    },
                    success: function (data) {
                        SucEditLoad(data);
                    }
                });
            };
            $("#firstSelect").focus();
        });

        function SucEditLoad(obj) {
            $("#error").html("");
            $("#success").html("");
            $("#save").removeAttr("disabled");
            $("#labName").val(obj.Name);
            if (obj.AcquaintanceFrom != null) {
                $("#dateFrom").val(ToJavaScriptDate(obj.AcquaintanceFrom));
            };
            if (obj.AcquaintanceTill != null) {
                $("#dateTill").val(ToJavaScriptDate(obj.AcquaintanceTill));
            };
            for (var i = 0; i < obj.Tasks.length; ++i) {
                $("#firstSelect option[value='" + obj.Tasks[i].Key + "']").prop("selected", true).dblclick();
            };
        };

        function ToJavaScriptDate(value) {
            var pattern = /Date\(([^)]+)\)/;
            var results = pattern.exec(value);
            var dt = new Date(parseFloat(results[1]));
            var month = (dt.getMonth() >= 10 ? (dt.getMonth() + 1) : ("0" + (dt.getMonth() + 1)));
            var day = (dt.getDate() >= 10 ? (dt.getDate()) : ("0" + dt.getDate()));
            var hour = (dt.getHours() >= 10 ? (dt.getHours()) : ("0" + dt.getHours()));
            var minute = (dt.getMinutes() >= 10 ? (dt.getMinutes()) : ("0" + dt.getMinutes()));
            var second = (dt.getSeconds() >= 10 ? (dt.getSeconds()) : ("0" + dt.getSeconds()));
            var msecond = (dt.getMilliseconds() >= 10 ? (dt.getMilliseconds() >= 100 ? (dt.getMilliseconds()) :("0" + dt.getMilliseconds())) : ("00" + dt.getMilliseconds()));
            return day + "-" + month + "-" + dt.getFullYear() + " " + hour + ":" + minute + ":" + second + "." + msecond;
        }

        $("#firstSelectSize").change(function () {
            var p = $("#firstSelectSize");
            if (p.val() < 2) {
                p.val(2);
            };
            $("#firstSelect").attr("size", p.val());
        });

        $("#secondSelectSize").change(function () {
            var p = $("#secondSelectSize");
            if (p.val() < 2) {
                p.val(2);
            };
            $("#secondSelect").attr("size", p.val());
        });

        $("#addOpt").click(function () {
            var elem = $("#firstSelect option:selected");
            if (elem.length == 0) {
                return;
            };
            if (elem.attr("disabled") == "disabled") {
                return;
            };
            $("#secondSelect").append(elem.clone());
            elem.addClass("num" + elem.attr("value"));
            elem.attr("disabled", "disabled");
            $("#firstSelect").focus();
        });

        $("#firstSelect option").dblclick(function () {
            $("#addOpt").click();
        });

        $("#delOpt").click(function () {
            var elem = $("#secondSelect option:selected");
            if (elem.length == 0) {
                return;
            };

            var key = elem.attr("value");

            elem.remove();

            var el = $("#firstSelect option.num" + key);
            el.removeClass(key);
            el.removeAttr("disabled");
            $("#secondSelect").focus();
        });

        $("#secondSelect option").dblclick(function () {
            $("#delOpt").click();
        });

        $("#VarUp").click(function () {
            var opt = $("#secondSelect option:selected");
            if (opt.length == 0) {
                return;
            };
            var prev = opt.prev();
            if (prev.length == 0) {
                return;
            };
            var p = opt.detach();
            prev.before(p);
        });

        $("#VarDown").click(function () {
            var opt = $("#secondSelect option:selected");
            if (opt.length == 0) {
                return;
            };
            var next = opt.next();
            if (next.length == 0) {
                return;
            };
            var p = opt.detach();
            next.after(p);
        });

        $("#firstSelect").keydown(function (e) {
            switch (e.which) {
                case 13:
                    var elem = $("#firstSelect option.variant:selected");
                    if (elem.length != 0) {
                        $("#addOpt").click();
                    };
                    break;
            };
        });

        $("#secondSelect").keydown(function (e) {
            switch (e.which) {
                case 13:
                    var elem = $("#secondSelect option:selected");
                    if (elem.length != 0) {
                        $("#delOpt").click();
                    };
                    break;
            };
        });

        $("#save").click(function () {
            $("#success").html("");
            if (document.getElementById("labName").value == "") {
                $("#error").html("Необходимо ввести название лабораторной работы");
                wantCreate = 0;
                return;
            };
            var elem = $("#secondSelect option");
            if (elem.length == 0) {
                $("#error").html("Необходимо выбрать задания для лабораторной работы");
                wantCreate = 0;
                return;
            };
            $("#error").html("Отправка данных на сервер...");

            var list = new Array();
            var elems = $("#secondSelect option");
            for (var i = 0; i < elems.length; ++i) {
                list.push(elems[i].getAttribute("value"));
            };
            var result = $("fieldset").serialize();
            result = result + "&JsonArr=" + JSON.stringify(list);

            @if (Model.Id > 0)
            {
                @Html.Raw("result = result + \"&Id=" + Model.Id.ToString() + "\"")
            }

            $.ajax({
                type: "POST",
                url: @(Model.Id > 0 ? Html.Raw("\"LabWorkEdit\"") : Html.Raw("\"LabWorkCreate\"")),
                data: result,
                error: function() {
                    $("#success").html("");
                    $("#error").html("Невозможно отправить данные");
                    wantCreate = 0;
                },
                success: function (data) {
                    Suc(data);
                }
            });
        });

        function Suc(obj) {
            switch (obj.Result) {
                case @ResponseConstants.LabWorkSuccessCreateSystemName:
                    $("#error").html("");
                    $("#success").html("Лабораторная работа " + obj.LabName + " успешно сохранена!");
                    if (wantCreate == 1) {
                        location.href = "/Labs/IndexCreateVariant?labId=" + obj.LabId;
                    };
                    break;
                case @ResponseConstants.LabWorkExistErrorSystemName:
                    $("#success").html("");
                    $("#error").html('Лабораторная работа "' + obj.LabName + '" уже существует');
                    wantCreate = 0;
                    break;
                case @ResponseConstants.LabWorkSuccessEditSystemName:
                    $("#error").html("");
                    $("#success").html('Лабораторная работа "' + obj.LabName + '" успешно обновлена!');
                    break;
            };
        };

        $("#saveAndCreate").click(function () {
            wantCreate = 1;
            $("#save").click();
        });

    </script>
}