@model GraphLabs.Site.Models.CreateLabModel

@{
    ViewBag.Title = "Создание лабораторной работы";
}

<h2>@ViewBag.Title</h2>
@Html.ActionLink("Обратно к списку лабораторных работ", "Index")

<div class="widthSection">
    <span id="error" class="field-validation-error"></span>
    <fieldset>
        <legend>Информация о лабораторной работе</legend>
        <ol>
            <li>
                <label>Название лабораторной работы</label>
                <input id="labName" name="Name" type="text" value="" />
            </li>
            <li>
                <label>Дата начала доступности работы</label>
                <input id="dateFrom" name="DateFrom" type="date" />
            </li>
            <li>
                <label>Дата окончания доступности работы</label>
                <input id="dateTo" name="DateTo" type="date" />
            </li>
        </ol>
    </fieldset>

</div>

<div id="createLabLeftPanel">
    <h3 class="buttonCenter">Список доступных заданий</h3>
    <input id="firstSelectSize" type="number" value="8" />
<select id="firstSelect" class="labSelectLeft" size="8">
    @foreach (var item in Model.Tasks)
    {
        <option value="@item.Key">
            @item.Value
        </option>        
    }        
</select>
</div>

<input id="delOpt" class="arrowButton" type="button" value="<"/>
<input id="addOpt" class="arrowButton" type="button" value=">"/>

<div id="createLabRightPanel">
    <h3 class="buttonCenter">Список выбранных заданий</h3>
    <input id="secondSelectSize" type="number" value="8" />
    <select id="secondSelect" class="labSelectRight" size="8">
    </select>
    <div class="buttonCenter">
        <input id="VarUp" type="button" value="˄"/>
        <input id="VarDown" type="button" value="˅"/>
    </div>
</div>

<div class="widthSection">
    <input id="save" type="button" value="Сохранить"/>
    <input id="saveAndCreate" type="button" value="Сохранить и перейти к созданию вариантов"/>
</div>

@section Scripts
{
    <script>
        var wantCreate = 0;

        $(document).ready(function () {
            if (@Model.Id != 0) {
                $("title").html("Редактирование лабораторной работы");
                $("h2").html("Редактирование лабораторной работы");
                $("#error").html("Лабораторная работа загружается...");
                $("#save").attr("disabled", "disabled");
                $("#saveAndCreate").detach();
                result="Id=@Model.Id";
                $.ajax({
                    type: "POST",
                    url: "EditLab",
                    data: result,
                    error: function() {
                        alert("Невозможно загрузить вариант работы");
                        location.href = "/Labs";
                    },
                    success: function (data) {
                        SucEditLoad(data);
                    }
                });
            };
            $("#firstSelect").focus();
        });

        function SucEditLoad(data) {
            var obj = jQuery.parseJSON(data);
            switch (obj.Id) {
                case 0:
                    $("#error").html("");
                    $("#save").removeAttr("disabled");
                    $("#labName").val(obj.Name);
                    var x = obj.AcquaintanceFrom.substring(0, 10)
                    $("#dateFrom").val(x);
                    $("#dateTo").val(obj.AcquaintanceTo.substring(0, 10));
                    for (var i = 0; i < obj.Tasks.length; ++i) {
                        $("#firstSelect option[value='" + obj.Tasks[i].Key + "']").prop("selected", true).dblclick();
                    };
                    break;
                case 1:
                    alert("Лабораторная работа не найдена!");
                    location.href = "/Labs";
                    break;
            };
        };

        $("#firstSelectSize").change(function () {
            var p = $("#firstSelectSize");
            if (p.val() < 2) {
                p.val(2);
            };
            $("#firstSelect").attr("size", p.val());
        });

        $("#secondSelectSize").change(function () {
            var p = $("#secondSelectSize");
            if (p.val() < 2) {
                p.val(2);
            };
            $("#secondSelect").attr("size", p.val());
        });

        $("#addOpt").click(function () {
            var elem = $("#firstSelect option:selected");
            if (elem.length == 0) {
                return;
            };
            if (elem.attr("disabled") == "disabled") {
                return;
            };
            $("#secondSelect").append(elem.clone());
            elem.addClass("num" + elem.attr("value"));
            elem.attr("disabled", "disabled");
            $("#firstSelect").focus();
        });

        $("#firstSelect option").dblclick(function () {
            $("#addOpt").click();
        });

        $("#delOpt").click(function () {
            var elem = $("#secondSelect option:selected");
            if (elem.length == 0) {
                return;
            };

            var key = elem.attr("value");

            elem.remove();

            var el = $("#firstSelect option.num" + key);
            el.removeClass(key);
            el.removeAttr("disabled");
            $("#secondSelect").focus();
        });

        $("#secondSelect option").live("dblclick", function () {
            $("#delOpt").click();
        });

        $("#VarUp").click(function () {
            var opt = $("#secondSelect option:selected");
            if (opt.length == 0) {
                return;
            };
            var prev = opt.prev();
            if (prev.length == 0) {
                return;
            };
            var p = opt.detach();
            prev.before(p);
        });

        $("#VarDown").click(function () {
            var opt = $("#secondSelect option:selected");
            if (opt.length == 0) {
                return;
            };
            var next = opt.next();
            if (next.length == 0) {
                return;
            };
            var p = opt.detach();
            next.after(p);
        });

        $("#firstSelect").keydown(function (e) {
            switch (e.which) {
                case 13:
                    var elem = $("#firstSelect option.variant:selected");
                    if (elem.length != 0) {
                        $("#addOpt").click();
                    };
                    break;
            };
        });

        $("#secondSelect").keydown(function (e) {
            switch (e.which) {
                case 13:
                    var elem = $("#secondSelect option:selected");
                    if (elem.length != 0) {
                        $("#delOpt").click();
                    };
                    break;
            };
        });

        $("#save").click(function () {
            if ($("#labName").attr("value") == "") {
                $("#error").html("Необходимо ввести название лабораторной работы");
                wantCreate = 0;
                return;
            };
            var elem = $("#secondSelect option");
            if (elem.length == 0) {
                $("#error").html("Необходимо выбрать задания для лабораторной работы");
                wantCreate = 0;
                return;
            };

            $("#error").html("Отправка данных на сервер...");

            var list = new Array();
            var elems = $("#secondSelect option");
            for (var i = 0; i < elems.length; ++i) {
                list.push(elems[i].getAttribute("value"));
            };
            var result = $("fieldset").serialize();
            result = result + "&JsonArr=" + JSON.stringify(list) + "&Id=@Model.Id";
            
            $.ajax({
                type: "POST",
                url: "Create",
                data: result,
                error: function() {
                    $("#error").html("Невозможно отправить данные");
                    wantCreate = 0;
                },
                success: function (data) {
                    Suc(data);
                }
            });
        });

        function Suc(data) {
            var obj = jQuery.parseJSON(data);
            switch (obj.Result) {
                case 0:
                    $("#error").html("Лабораторная работа " + obj.LabName + " успешно сохранена!");
                    if (wantCreate == 1) {
                        location.href = "/Labs/CreateVariant?labId=" + obj.LabId;
                    };
                    break;
                case 1:
                    $("#error").html('Лабораторная работа "' + obj.LabName + '" уже сущестует');
                    wantCreate = 0;
                    break;
                case 3:
                    $("#error").html('Лабораторная работа "' + obj.LabName + '" не найдена');
                    break;
                case 4:
                    $("#error").html('Лабораторная работа "' + obj.LabName + '" успешно обновлена!');
                    break;
            };
        };

        $("#saveAndCreate").click(function () {
            wantCreate = 1;
            $("#save").click();
        });

    </script>
}