@using GraphLabs.Site.Controllers.LabWorks
@model GraphLabs.Site.Models.CreateLabVariantModel

@{
    ViewBag.Title = "Создание варианта лабораторной работы";
}

<h2>@ViewBag.Title "@Model.Name"</h2>
@Html.ActionLink("Обратно к списку лабораторных работ", "Index")

<br />

<div class="widthSection">
    <span id="error" class="field-validation-error"></span>
    <span id="success" class="field-validation-success"></span>
</div>

<div>
    <label>Номер варианта лабораторной работы</label>
    <input id="varNum" name="variantNumber" type="text" value="" />
</div>
<p id="instr">Выберите вариант для каждого задания лабораторной работы</p>

<table>
    <tr>
        <th class="tableHeader">Задания</th>
        <th class="tableHeader">Варианты</th>
    </tr>
@foreach (var item in Model.Variant)
{
    <tr>
    <th>@item.Key.Value</th>
    <td>
    <select id="@item.Key.Key">
        <option value="no">Не выбрано...</option>
        @foreach (var elem in item.Value)
        {
            <option value ="@elem.Key">@elem.Value</option>
        }
    </select>
    </td>
    </tr>
}
</table>
<br />
<input id="IntroducingVariant" type="checkbox"> Доступен в ознакомительной версии<br />
<br />
<input disabled id="save" type="button" value="Сохранить"/>
<input id="random" type="button" value="Заполнить случайными значениями"/>

@section Scripts
{
    <script>
        $(document).ready(function () {
            if (@Model.varId != 0)
            {
                $("title").html("Редактирование варианта лабораторной работы");
                $("h2").html('Редактирование варианта лабораторной работы "@Model.Name"');
                $("#error").html("Вариант загружается...");
                var result="varId=@Model.varId";
                $.ajax({
                    type: "POST",
                    url: "GetVariantInfo",
                    data: result,
                    error: function() {
                        alert("Невозможно загрузить вариант работы");
                        location.href = "/Labs";
                    },
                    success: function (data) {
                        SucEditLoad(data);
                    }
                });
            }
        });

        function SucEditLoad(obj) {
            $("#error").html("");
            $("#varNum").val(obj.Name);
            if (obj.IntroducingVariant) {
                $("#IntroducingVariant").prop("checked", true);
            };
            for (var i = 0; i < obj.Variant.length; ++i) {
                $("#" + obj.Variant[i].Key).find("option[value=" + obj.Variant[i].Value + "]").attr("selected", "selected");
                $("#" + obj.Variant[i].Key).find("option[value='no']").detach();
                $("#" + obj.Variant[i].Key).parent().parent().find("th").replaceWith(function (index, oldHTML) {
                    return $("<td>").html(oldHTML);
                });
            };
            if ($("option[value='no']").size() == 0) {
                $("#save").removeAttr("disabled");
            };
        };

        $("select").change( function () {
            $(this).find("option[value='no']").detach();
            $(this).parent().parent().find("th").replaceWith(function (index, oldHTML) {
                return $("<td>").html(oldHTML);
            });
            CheckChoosingAndUnlockSaveButton();
        });

        $("#random").click(function () {
            $("select").each(function () {
                if ( $(this).find("option").length == 1 && $(this).find("option[value='no']") != null ) {
                    return;
                } else {
                    $(this).find("option[value='no']").detach();
                };
                var num = $(this).find("option").length;
                $(this).parent().parent().find("th").replaceWith(function (index, oldHTML) {
                    return $("<td>").html(oldHTML);
                });
                var rand = Math.floor(Math.random() * num);
                $(this).find("option:eq("+rand+")").attr("selected", "selected");
            });
            CheckChoosingAndUnlockSaveButton();
        });

        function CheckChoosingAndUnlockSaveButton () {
            if ($("option[value='no']").size() == 0) {
                $("#save").removeAttr("disabled");
            };
        };

        $("#save").click(function () {
            $("#success").html("");
            if ($("#varNum").attr("value") == "") {
                $("#error").html("Необходимо ввести номер варианта");
                return;
            };
            $("#error").html("Отправка данных на сервер...");
            var list = new Array();
            $("select").each(function () {
                list.push($(this).val());
            });
            var result = "";
            @if ( !(Model.varId > 0))
            {
                @Html.Raw("result = \"Id=" + @Model.id.ToString() + "&\";")
            }
            result = result + "Number=" + $("#varNum").attr("value") + "&JsonArr=" + JSON.stringify(list) + "&IntrVar=" + $("#IntroducingVariant").prop("checked");
            @if (Model.varId > 0)
            {
                @Html.Raw("result = result + \"&variantId=" + @Model.varId.ToString() + "\";")
            }
            $.ajax({
                type: "POST",
                url: @if (Model.varId > 0)
                     {
                         @Html.Raw("\"EditVariant\"")
                     }
                    else
                     {
                         @Html.Raw("\"CreateVariant\"")
                     },
                data: result,
                error: function () {
                    $("#error").html("Невозможно отправить данные");
                },
                success: function (data) {
                    Suc(data);
                }
            });
        });

        function Suc(data) {
            $("#error").html("");
            $("#success").html("");
            switch (data) {
                case @ResponseConstants.LabVariantSaveSuccessSystemName:
                    $("#success").html("Вариант успешно сохранен!");                    
                    break;                    
                case @ResponseConstants.LabVariantModifySuccessSystemName:
                    $("#success").html('Вариант успешно обновлен!');
                    break;
                case @ResponseConstants.LabVariantNameCollisionSystemName:
                    $("#error").html('Невозможно сохранить вариант: вариант с таким названием уже существует');
                    break;
                case @ResponseConstants.LabVariantSaveErrorSystemName:
                    $("#error").html('Невозможно сохранить вариант, попробуйте обновить страницу');
                    break;
                case @ResponseConstants.LabVariantModifyErrorSystemName:
                    $("#error").html('Невозможно обновить вариант, попробуйте обновить страницу');
                    break;
            };
        };
    </script>
}