@using GraphLabs.DomainModel
@using GraphLabs.Site.Controllers.LabWorks

@{
    ViewBag.Title = "Создание варианта лабораторной работы";
}

<h2>@ViewBag.Title "@ViewBag.LabVariantModel.Name"</h2>
@Html.ActionLink("Обратно к списку лабораторных работ", "Index")

<br />

<div class="widthSection">
    <span id="error" class="field-validation-error"></span>
    <span id="success" class="field-validation-success"></span>
</div>

<div>
    <label>Номер варианта лабораторной работы</label>
    <input id="varNum" name="variantNumber" type="text" value="" />
</div>
<p id="instr">Выберите вариант для каждого задания лабораторной работы</p>

<table>
    <tr>
        <th class="tableHeader">Задания</th>
        <th class="tableHeader">Варианты</th>
        <th></th>    </tr>
@foreach (var item in ViewBag.LabVariantModel.Variant)
{
    <tr>
        <th>@item.Key.Value</th>
        <td>
        <select id="@item.Key.Key">
            <option value="no">Не выбрано...</option>
            @foreach (var elem in item.Value)
            {
                <option value ="@elem.Key">@elem.Value</option>
            }
        </select>
        </td>
        <td>
            <a id="generate-task-variant" target="_blank" href="../Labs/GenerateVariant?taskId=@item.Key.Key">Сгенерировать новый вариант</a>
        </td>
    </tr>
}
</table>
<br />
<table>
    <tr>
        <th>Выбрать тестпул</th>
        <td>
            <select id="testpool">
                <option>Без тестов</option>
                @foreach (var testPool in ViewBag.TestPoolListModel)
                {
                    <option value="@testPool.Id">@testPool.Name </option>
                }
            </select>
        </td>
        <td>
            <a id="create-testpool" target="_blank" href="../TestPool/Create">Создать новый тестпул</a>
        </td>
        <td><a id="preview-testpool" target="_blank" href="../TestPool">Просмореть тестпул</a></td>
    </tr>
</table>

<br/>
<input id="IntroducingVariant" type="checkbox"> Доступен в ознакомительной версии<br />
<br />
<input disabled id="save" type="button" value="Сохранить"/>
<input id="random" type="button" value="Заполнить случайными значениями"/>

@section Scripts
{
    <script>
        $(document).ready(function () {
            if (@ViewBag.LabVariantModel.varId != 0)
            {
                $("title").html("Редактирование варианта лабораторной работы");
                $("h2").html('Редактирование варианта лабораторной работы "@ViewBag.LabVariantModel.Name"');
                $("#error").html("Вариант загружается...");
                var result="varId=@ViewBag.LabVariantModel.varId";
                $.ajax({
                    type: "POST",
                    url: "GetVariantInfo",
                    data: result,
                    error: function() {
                        alert("Невозможно загрузить вариант работы");
                        location.href = "/Labs";
                    },
                    success: function (data) {
                        SucEditLoad(data);
                    }
                });
            }
        });

        function SucEditLoad(obj) {
            $("#error").html("");
            $("#varNum").val(obj.Name);
            if (obj.IntroducingVariant) {
                $("#IntroducingVariant").prop("checked", true);
            };
            for (var i = 0; i < obj.Variant.length; ++i) {
                $("#" + obj.Variant[i].Key).find("option[value=" + obj.Variant[i].Value + "]").attr("selected", "selected");
                $("#" + obj.Variant[i].Key).find("option[value='no']").detach();
                $("#" + obj.Variant[i].Key).parent().parent().find("th").replaceWith(function (index, oldHTML) {
                    return $("<td>").html(oldHTML);
                });
            };
            $("#testpool").children().each(function() {
                if ($(this).val() == obj.TestPool.Id) {
                    alert('sdf')
                    $(this).attr("selected", "true");
                }
            });
            if ($("option[value='no']").size() == 0) {
                $("#save").removeAttr("disabled");
            };
        };

        $("select").change( function () {
            $(this).find("option[value='no']").detach();
            $(this).parent().parent().find("th").replaceWith(function (index, oldHTML) {
                return $("<td>").html(oldHTML);
            });
            CheckChoosingAndUnlockSaveButton();
        });

        $("#random").click(function () {
            $("select").each(function () {
                if ( $(this).find("option").length == 1 && $(this).find("option[value='no']") != null ) {
                    return;
                } else {
                    $(this).find("option[value='no']").detach();
                };
                var num = $(this).find("option").length;
                $(this).parent().parent().find("th").replaceWith(function (index, oldHTML) {
                    return $("<td>").html(oldHTML);
                });
                var rand = Math.floor(Math.random() * num);
                $(this).find("option:eq("+rand+")").attr("selected", "selected");
            });
            CheckChoosingAndUnlockSaveButton();
        });

        function CheckChoosingAndUnlockSaveButton () {
            if ($("option[value='no']").size() == 0) {
                $("#save").removeAttr("disabled");
            };
        };

        $("#save").click(function () {
            $("#success").html("");
            if (document.getElementById("varNum").value == "") {
                $("#error").html("Необходимо ввести номер варианта");
                return;
            };
            $("#error").html("Отправка данных на сервер...");
            var list = new Array();
            $("select").each(function () {
                list.push($(this).val());
            });
            var result = "";
            @if ( !(ViewBag.LabVariantModel.varId > 0))
            {
                @Html.Raw("result = \"Id=" + @ViewBag.LabVariantModel.id.ToString() + "&\";")
            }
            result = result + "Number=" + document.getElementById("varNum").value + "&JsonArr=" + JSON.stringify(list) + "&IntrVar=" + $("#IntroducingVariant").prop("checked") + "&testPoolId=" + $("#testpool").val();
            @if (ViewBag.LabVariantModel.varId > 0)
            {
                @Html.Raw("result = result + \"&variantId=" + @ViewBag.LabVariantModel.varId.ToString() + "\";")
            }
            $.ajax({
                type: "POST",
                url: @(ViewBag.LabVariantModel.varId > 0 ? Html.Raw("\"EditVariant\"") : Html.Raw("\"CreateVariant\"")),
                data: result,
                error: function () {
                    $("#error").html("Невозможно отправить данные");
                },
                success: function (data) {
                    Suc(data);
                }
            });
        });

        function Suc(data) {
            $("#error").html("");
            $("#success").html("");
            switch (data) {
                case @ResponseConstants.LabVariantSaveSuccessSystemName:
                    $("#success").html("Вариант успешно сохранен!");                    
                    break;                    
                case @ResponseConstants.LabVariantModifySuccessSystemName:
                    $("#success").html('Вариант успешно обновлен!');
                    break;
                case @ResponseConstants.LabVariantNameCollisionSystemName:
                    $("#error").html('Невозможно сохранить вариант: вариант с таким названием уже существует');
                    break;
                case @ResponseConstants.LabVariantSaveErrorSystemName:
                    $("#error").html('Невозможно сохранить вариант, попробуйте обновить страницу');
                    break;
                case @ResponseConstants.LabVariantModifyErrorSystemName:
                    $("#error").html('Невозможно обновить вариант, попробуйте обновить страницу');
                    break;
            };
        };
    </script>
}