@model GraphLabs.Site.Models.DemoLab.DemoLabListModel

@{
    ViewBag.Title = "Ознакомительные лабораторные работы";
}

<h2>@ViewBag.Title</h2>

@if (!Model.Any())
{
    <h2 class="field-validation-error">В данный момент нет доступных лабораторных работ</h2>
}
else
{
<table>
    <tr>
        <th>Лабораторная работа</th>
        <th>Варианты</th>
        <th>Доступна до</th>
    </tr>
    @foreach (var m in Model)
    {
        <tr data-LabWorkId="@m.Id">
            <td>
                @m.Name
            </td>
            <td>
                @if (m.Variants.Count == 0)
                {
                    <span class="field-validation-error">Отсутствуют</span>
                }
                else
                {
                    <select>
                        @foreach (var v in m.Variants)
                        {
                            <option value="@v.Key">
                                @v.Value
                            </option>
                        }
                </select>
                }
            </td>
            <td>
                @m.AcquaintanceTill.ToString("dd/MM/yyyy")
            </td>
            <td>
                @if (m.Variants.Count != 0)
                {
                    <input type="button" value="Приступить!"/>
                }
            </td>
        </tr>
    }
</table>
}

@section scripts{
    <script>
        $("input").click(function () {
            labId = $(this).parent().parent().attr("data-LabWorkId");
            varId = $(this).parent().parent().find("td select").val();
            location.href = "/LabWorkExecution/Index?labId=" + labId + "&labVarId=" + varId;
        });
    </script>
}