@model GraphLabs.DataModel.Term

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Term</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID_Term)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_Term)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateFrom)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateFrom)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateTill)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateTill)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
