@model GraphLabs.Site.Models.User

@{
    ViewBag.Title = "Удаление пользователя";
}

<h2>Удаление пользователя</h2>

<p class="error">
    @ViewBag.ErrorMessage
</p>

<h3>Вы уверены, что хотите удалить?</h3>
<fieldset>
    <legend>Пользователь</legend>

    <div class="display-label">Имя</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">Фамилия</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SurName)
    </div>

    <div class="display-label">Отчество</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FatherName)
    </div>
        
    <div class="display-label">E-mail</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">Подтвержден</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Verify)
    </div>

    <div class="display-label">Группа</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Group.Name)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Удалить" /> |
        @Html.ActionLink("Назад к списку", "Index")
    </p>
}
