@model GraphLabs.Site.Models.UserEdit

@{
    ViewBag.Title = "Редактирование пользователя";
}

<h2>Редактирование пользователя</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Пользователь</legend>

        @Html.HiddenFor(model => model.UserID)

        <div class="editor-label">
            Имя
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            Фамилия
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SurName)
            @Html.ValidationMessageFor(model => model.SurName)
        </div>
        
        <div class="editor-label">
            Отчество
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FatherName)
            @Html.ValidationMessageFor(model => model.FatherName)
        </div>

        <div class="editor-label">
            E-mail
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            Подтвержден
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Verify)
            @Html.ValidationMessageFor(model => model.Verify)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GroupID, "Группа")
        </div>
        <div class="editor-field">
            @Html.DropDownList("GroupID")
            @Html.ValidationMessageFor(model => model.GroupID)
        </div>

        <p>
            <input type="submit" value="Сохранить" />
        </p>
    </fieldset>
}

<div>
@Html.ActionLink("Назад к списку", "Index")
</div>
