@using GraphLabs.DomainModel
@using GraphLabs.Site.Logic.Security
@model GraphLabs.Site.Models.UserEdit

@{
    ViewBag.Title = "Редактирование пользователя";
}

<hgroup>
    <h2>@ViewBag.Title.</h2>
    @Html.ActionLink("Обратно к списку", "Index")
</hgroup>
<br />

<div class="mesage-error">
    @ViewBag.Message
</div>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Пользователь</legend>

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Role)
        @Html.HiddenFor(model => model.IsVerified)
        @Html.HiddenFor(model => model.IsDismissed)

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="readonly-editor">
            @Html.EditorFor(model => model.Email, new { @readonly = "readonly" })
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Surname)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Surname)
            @Html.ValidationMessageFor(model => model.Surname)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FatherName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FatherName)
            @Html.ValidationMessageFor(model => model.FatherName)
        </div>
        
        <div id="Group" style="display: none;">
        <div class="editor-label">
            @Html.LabelFor(model => model.GroupID)
        </div>
        <div class="editor-field">
            @Html.DropDownList("GroupID")
            @Html.ValidationMessageFor(model => model.GroupID)
        </div>
        </div>

        <p>
            <input id="Verify"  style="display: none;" type="submit" name="action" value="Утвердить" />
            <input id="Dismiss" style="display: none;" type="submit" name="action" value="Исключить" />
            <input id="Delete"  style="display: none;" type="submit" name="action" value="Удалить" />
        </p>

        <p>
            <input type="submit" name="action" value="Сохранить" />
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            checkRole();
            checkAdmin();
        });

        function checkRole() {
            var role = $('#Role').val();
            if (role == 'Student') {
                changeForStudent();
            }
        };

        function changeForStudent() {
            $('#Group').attr('style', '');
            var isver = $('#IsVerified').val();
            if (isver == 'False') {
                $('#Verify').attr('style', '');
            }
            var isdis = $('#IsDismissed').val();
            if (isdis == 'False') {
                $('#Dismiss').attr('style', '');
            }
        };

        function checkAdmin() {
            if ('@User.IsInRole(UserRole.Administrator)' == 'true')
            {
                openDelete();
            }
        };

        function openDelete() {
            $('#Delete').attr('style', '');
        };
    </script>
}