@model GraphLabs.Site.Models.SurveyCreatingModel

@{
    ViewBag.Title = "Добавить вопрос";
}
<hgroup>
    <h2>@ViewBag.Title</h2>
    @Html.ActionLink("Вернуться к списку вопросов", "Index")
</hgroup>
<br />
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <table width="40%" class="nakedTable">
        <tr>
            <td>
                <div class="editor-label">
                    Выберите тему
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.CategoryId, Model.CategoryList, new { @class = "dropDown" })
                </div>
            </td>
            <td>
                <div class="editor-label">
                    Выберите подтему
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.CategoryId, Model.CategoryList, new { @class = "dropDown" })
                </div>
            </td>
        </tr>
    </table>
    <table width="60%" class="nakedTable">
        <tr>
            <td width="16%">
                Введите вопрос
            </td>
            <td>
                <div class="editor-field editText">
                    @Html.EditorFor(model => model.Question)
                    @Html.ValidationMessageFor(model => model.Question)
                </div>
            </td>
            <td width="2%">
                <a href='#' class="clearEditor" title="Нажмите, чтобы удалить текст вопроса" style="font-size:2.0em; text-decoration-color:#282828; text-decoration:none; vertical-align:10px">&#10005;</a>
            </td>
    </tr>
    </table>
    <table id="tableOption" width="60%" class="nakedTable">
    @for (var i = 0; i < Model.QuestionOptions.Count; ++i)
    {
        <tr>
            <td width="15px"></td>
            <td>
                Введите вариант ответа
            </td>
            <td>
                <div class="editor-field editText">
                    @Html.EditorFor(model => model.QuestionOptions[i].Key)
                </div>
            </td>
            <td>
                @(Html.EditorFor(model => model.QuestionOptions[i].Value)) Правильный ответ
            </td>
            <td>
                <a href='#' class="deleteOption" title="Нажмите, чтобы удалить вариант ответа" style="font-size:2.0em; text-decoration-color:#282828; text-decoration:none; vertical-align:10px">&#10005;</a>
            </td>
        </tr>
    }
    </table>
    <table width="60%" class="nakedTable">
        <tr>
            <td width="15px"></td>
            <td width="15px">
                <button class="circle-add-button" id="addOption" value="Добавить новый вариант ответа"></button>
            </td>
            <td>
                Добавить новый вариант ответа
            </td>
        </tr>
    </table>
    <table width="60%" class="nakedTable">
        <tr>
            <td width="15px">
                <button class="circle-add-button" id="addQuestion"></button>
            </td>
            <td>
                Добавить еще вопрос в подтему
            </td>
        </tr>
    </table>
    <input type="submit" value="Сохранить" />
}

@section Scripts
{
            <script>
                //отсчет от 0
                var optionsCount = @(Model.QuestionOptions.Count - 1);

                $("#addOption").click(function (e) {
                    e.preventDefault();
                    optionsCount++;
                    $("#tableOption").append("<tr><td>" +
                        "<input class=\"text-box single-line\" type=\"text\" value=\"\" id=\"QuestionOptions_" + optionsCount.toString() + "__Key\"" +
                        "name=\"QuestionOptions[" + optionsCount.toString() + "].Key\" />" +
                        "</td><td>" +
                        "<input class=\"check-box\" data-val=\"true\" data-val-required=\"Требуется поле Value.\" id=\"QuestionOptions_" + optionsCount.toString() + "__Value\" name=\"QuestionOptions[" + optionsCount.toString() + "].Value\" type=\"checkbox\" value=\"true\" />" +
                        "<input name=\"QuestionOptions[" + optionsCount.toString() + "].Value\" type=\"hidden\" value=\"false\">" +
                        "</td><td><img title=\"Клонировать ответ\" src=\"/Images/copy.png\" class=\"copyOption\" />" + "\n" +
                        "<img title=\"Удалить ответ\" src=\"/Images/_false.png\" class=\"deleteOption\" />" +
                        "</td></tr>");
                });

                $(".deleteOption").click(function () {
                    $(this).parent().parent().remove();
                    optionsCount--;
                    for(i = 1; i < optionsCount + 3; ++i)
                    {
                        $("table tr:eq(" + i + ") td input:eq(0)").attr("id","QuestionOptions_" + (i - 1).toString() + "__Key");
                        $("table tr:eq(" + i + ") td input:eq(0)").attr("name","QuestionOptions[" + (i - 1).toString() + "].Key");

                        $("table tr:eq(" + i + ") td input:eq(1)").attr("id","QuestionOptions_" + (i - 1).toString() + "__Value");
                        $("table tr:eq(" + i + ") td input:eq(1)").attr("name","QuestionOptions[" + (i - 1).toString() + "].Value");

                        $("table tr:eq(" + i + ") td input:eq(2)").attr("name","QuestionOptions[" + (i - 1).toString() + "].Value");
                    }
                });

                $(".copyOption").click(function () {
                    $(this).parent().parent().clone().appendTo("table");
                    optionsCount++;

                    $("table tr:last td input:eq(0)").attr("id","QuestionOptions_" + optionsCount.toString() + "__Key");
                    $("table tr:last td input:eq(0)").attr("name","QuestionOptions[" + optionsCount.toString() + "].Key");

                    $("table tr:last td input:eq(1)").attr("id","QuestionOptions_" + optionsCount.toString() + "__Value");
                    $("table tr:last td input:eq(1)").attr("name","QuestionOptions[" + optionsCount.toString() + "].Value");

                    $("table tr:last td input:eq(2)").attr("name","QuestionOptions[" + optionsCount.toString() + "].Value");
                });

                $('.clearEditor').click(function(){
                    $('#Question').val("");
                });
            </script>
        }
