@model GraphLabs.Site.Models.TestQuestionListViewModel

<table class="grid" width="60%">
    <thead class="grid-header">
        <tr>
            <th>
                №
            </th>
            <th>
                Вопрос
            </th>
            <th>
                Тема
            </th>
            <th>
                Подтема
            </th>
            <th>
                Верно ответили
            </th>
            <th>
                
            </th>
            <th>
                
            </th>
        </tr>
    </thead>
    <tbody class="grid-number-row">
        @foreach (var question in Model.Items)
        {
            <tr>
                <td>
                    @question.QuestionId
                </td>
                <td>
                    @question.Question
                </td>
                <td>
                    @question.QuestionCategory
                </td>
                <td>
                    @question.QuestionSubCategory
                </td>
                <td>

                </td>
                <td>
                    @Html.ActionLink("\u270E", "Edit", "Survey", new { Question = @question.Question }, new { style = "text-decoration:none" })
                </td>
                <td>
                    @Html.ActionLink("\u2716", "", "", new { Question = @question.Question }, new { style = "text-decoration:none" })
                </td>
            </tr>
        }
    </tbody>
</table>