@model GraphLabs.Site.Models.TestQuestionListViewModel

<table>
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Вопрос
            </th>
            @if (Model.ShowCategory)
            {
                <th>
                    Тема
                </th>
            }
            <th>
                Подтема
            </th>
            <th>
                Верно ответили
            </th>
            <th>
                
            </th>
            <th>
                
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var question in Model.Items)
        {
            <tr>
                <td>
                    @question.QuestionId
                </td>
                <td>
                    @Html.ActionLink(@question.Question, "Edit", "Survey", new { Question = @question.Question }, null);
                </td>
                @if (Model.ShowCategory)
                {
                    <td>
                        @question.QuestionSubCategory
                    </td>
                }
            </tr>
        }
    </tbody>
</table>