@using GraphLabs.DomainModel
@model GraphLabs.Site.Models.ResultsWithTaskInfo.ResultWithTaskInfoModel

@{
    ViewBag.Title = "Отчёт";
}

<hgroup>
    <h2>@ViewBag.Title</h2>
    @Html.ActionLink("Обратно к списку лабораторных работ", "StudentResult", new { id = Model.StudentId })
</hgroup>
<br />

@{

    <text>  
        <span>@Model.LabWorkName  @Model.StartDateTime
        <br>Вариант: @Model.LabVariantNumber
        <br>Результат: @Model.Score
        <Br>Выполнил: @Model.StudentName</span>

    </text>
}

@{  <br>
    <br>
    <font size="+2"> Последовательность выполнения работы </font>
    <br>
    <br>
}

<style type="text/css">
    .descriptionColumn { width: 50%; }
    .timeColumn { width: 25%; }
    .penaltyColumn { width: 25%; } 
</style>

@{
    
    var grid = new WebGrid(Model.StudentActions, canPage: true, canSort: true, rowsPerPage: 10);
    grid.Pager(WebGridPagerModes.All);
    @grid.GetHtml(tableStyle: "Grids",
                    headerStyle: "grid-header",
                    footerStyle: "grid-footer",
                    rowStyle: "grid-row",
                    alternatingRowStyle: "grid-row",
                    selectedRowStyle: "grid-selected-row",
                    caption: null,
                    displayHeader: true,
                    htmlAttributes: new { id = "datatable" },

                    columns: grid.Columns(
                        grid.Column(header: "Время", format: @<text>
                    <span>@item.Time</span> </text>, columnName: "Time", style: "timeColumn"),
                        grid.Column(header: "Описание действия", format: @<text>
                    <span>@item.Description</span> </text>, columnName: "Description", style: "descriptionColumn"),
                        grid.Column(header: "Штрафной балл", format: @<text>
                    <span>@item.Penalty</span> </text>, columnName: "Penalty", style: "penaltyColumn")
                        )


    
                        );

}

<div>

</div>

