@model GraphLabs.Site.Models.Group

@{
    ViewBag.Title = "Удаление группы";
}

<h2>Удаление группы</h2>

<p class="error">
    @ViewBag.ErrorMessage
</p>

<h3>Вы уверены, что хотите удалить эту группу?</h3>
<fieldset>
    <legend>Группа</legend>

    <div class="display-label">Название</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">Год</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Year)
    </div>

    <div class="display-label">Доступность</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsActive)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Удалить" /> |
        @Html.ActionLink("Назад к списку", "Index")
    </p>
}
