@model GraphLabs.DataModel.Term

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Term</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ID_Term)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ID_Term)
            @Html.ValidationMessageFor(model => model.ID_Term)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateFrom)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateFrom)
            @Html.ValidationMessageFor(model => model.DateFrom)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateTill)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateTill)
            @Html.ValidationMessageFor(model => model.DateTill)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
