@model IEnumerable<GraphLabs.DataModel.Permission>

@{
    ViewBag.Title = "Права доступа";
}

<h2>Права доступа</h2>

<p>
    @Html.ActionLink("Создать новое", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_Permission)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_Permission)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
    </tr>
}

</table>
