@model PagedList.IPagedList<GraphLabs.Site.Models.NewsPubl>

@{
    ViewBag.Title = "Новости";
}

<h2>Ваши новости</h2>

<p>
    @Html.ActionLink("Добавить новость", "Create")
</p>
<table>
    <tr>
        <th>
            Заголовок
        </th>
        <th>
            Дата создания
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Header)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.NewsID }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.NewsID })
        </td>
    </tr>
}

</table>