@model GraphLabs.Site.Models.ResultModel

@{
    ViewBag.Title = "Результаты";
}

<h2>@ViewBag.Title</h2>

<span id="error" class="field-validation-error"></span>

<div style="display: block; float: left; width: 100%;">
<div style="display: block; float: left;">
    <p>Группы</p>
<select id="multigroup" size="5" multiple>
    @for (int i = 0; i < Model.Groups.Length; i++)
    {
        <option value="@Model.Groups[i].Id">@Model.Groups[i].Name</option>
    }
</select>
</div>

<div style="display: block; float: left;">
    <p>Лабораторные работы</p>
    <select id="lab" size="5">
        @for (int i = 0; i < Model.Labs.Length; i++)
        {
            <option value="@Model.Labs[i].Id">@Model.Labs[i].Name</option>
        }
    </select>
</div>
</div>

<p>
    <input type="button" id="getGroups" value="Показать"/>
</p>
<div id="groupsInfo" style="display:none">
    
    <h3></h3>

    <div>
    <table id="groupsTable" class="boardTable">
    </table>
    </div>
</div>

@section scripts{
    <script>
        $("#getGroups").click(function () {
            $("#error").html("");
            var groups = $("#multigroup").val();
            if (groups == null) {
                $("#error").html("Необходимо выбрать группы");
                return;
            };
            var lab = $("#lab").val();
            if (lab == null) {
                $("#error").html("Необходимо выбрать лабораторную работу");
                return;
            };

            var result = "Groups=" + groups + "&lab=" + lab;
            $.ajax({
                type: "POST",
                url: "Result/GetGroupsInfo",
                data: result,
                error: function () {
                    $("#error").html("Невозможно отправить данные");
                    $("#groupsInfo").css("display", "none");
                },
                success: function (data) {
                    Suc(data);
                }
            });
        });

        function Suc(data) {
            var obj = jQuery.parseJSON(data);
            switch (obj.Result) {
                case 0:
                    $("#error").html("");
                    $("#groupsInfo").css("display", "block");
                    
                    $("#groupsInfo h3").html(obj.LabName);

                    $("#groupsTable tr").detach();
                    $("#groupsTable").append("<tr><th>Группа</th><th>Кол-во студентов</th><th>Отл.</th><th>Хор.</th><th>Удовл.</th><th>Неуд.</th><th>Не явился</th></tr>");

                    for (var i = 0; i < obj.Marks.length; i++) {
                        $("#groupsTable").append("<tr value='" + obj.Marks[i].Id + "'><td>" + obj.Marks[i].Name + "</td><td>" + obj.Marks[i].StudentsCount + "</td><td>" + obj.Marks[i].Count5 + "</td><td>" + obj.Marks[i].Count4 + "</td><td>" + obj.Marks[i].Count3 + "</td><td>" + obj.Marks[i].Count2 + "</td><td>" + obj.Marks[i].Count0 + "</td></tr>");
                    };

                    break;
                case 1:
                    $("#error").html("Ошибка! Попробуйте обновить страницу");
                    break;
            };
        };
    </script>
}