@model GraphLabs.Site.Models.ResultModel

@{
    ViewBag.Title = "Результаты";
}

<h2>@ViewBag.Title</h2>

<span id="error" class="field-validation-error"></span>

<div style="display: block; float: left; width: 100%;">
<div style="display: block; float: left;">
    <p>Группы</p>
<select id="multigroup" size="5" multiple>
    @for (int i = 0; i < Model.Groups.Length; i++)
    {
        <option value="@Model.Groups[i].Id">@Model.Groups[i].Name</option>
    }
</select>
</div>

<div style="display: block; float: left;">
    <p>Лабораторные работы</p>
    <select id="lab" size="5">
        @for (int i = 0; i < Model.Labs.Length; i++)
        {
            <option value="@Model.Labs[i].Id">@Model.Labs[i].Name</option>
        }
    </select>
</div>
</div>

<p>
    <input type="button" id="getGroups" value="Показать"/>
</p>
<div id="groupsInfo" style="display:none">
    
    <h3></h3>

    <div>
    <table id="groupsTable" class="boardTable">
    </table>
    </div>

    <br />
    <input id="changeToNum" type="button" value="Отобразить в числах" style="display:none" />
    <input id="changeToPercent" type="button" value="Отобразить в процентах" />
    <span id="propertyBlock">
        <input id="propertyNumView" type="checkbox" /> Учитывать отсутствующих
    </span>
</div>

@section scripts{
    <script>
        $("#changeToPercent").click(function () {
            $("#changeToNum").css("display", "inline");
            $("#changeToPercent").css("display", "none");
            $("#propertyBlock").css("display", "none");
            var considerAlone = $("#propertyNumView").prop("checked");
            var str = $("#groupsTable tr");
            for (var i = 1; i < str.length; ++i) {
                studCount = $(str[i]).children("td.studCount").html();
                if (!considerAlone) {
                    studCount = studCount - $(str[i]).children("td.count0").html();
                };
                for (var j = 2; j < 6; ++j) {
                    num = $(str[i]).children("td.count" + j).html() * 100 / studCount;
                    if (studCount == 0) {
                        $(str[i]).children("td.count" + j).html("-");
                    } else {
                        $(str[i]).children("td.count" + j).html(num.toFixed(1) + "%");
                    };
                };
                if (considerAlone) {
                    num = $(str[i]).children("td.count0").html() * 100 / studCount;
                    if (studCount == 0) {
                        $(str[i]).children("td.count0").html("-");
                    } else {
                        $(str[i]).children("td.count0").html(num.toFixed(1) + "%");
                    };
                } else {
                    $(str[i]).children("td.count0").html("-");
                };
            };
        });

        $("#changeToNum").click(function () {
            $("#changeToNum").css("display", "none");
            $("#changeToPercent").css("display", "inline");
            $("#propertyBlock").css("display", "inline");
            RetrieveValue();
        });

        $("#getGroups").click(function () {
            $("#error").html("");
            var groups = $("#multigroup").val();
            if (groups == null) {
                $("#error").html("Необходимо выбрать группы");
                return;
            };
            var lab = $("#lab").val();
            if (lab == null) {
                $("#error").html("Необходимо выбрать лабораторную работу");
                return;
            };

            var result = "Groups=" + groups + "&lab=" + lab;
            $.ajax({
                type: "POST",
                url: "Result/GetGroupsInfo",
                data: result,
                error: function () {
                    $("#error").html("Невозможно отправить данные");
                    $("#groupsInfo").css("display", "none");
                },
                success: function (data) {
                    Suc(data);
                }
            });
        });

        function Suc(data) {
            var obj = jQuery.parseJSON(data);
            switch (obj.Result) {
                case 0:
                    $("#error").html("");
                    $("#groupsInfo").css("display", "block");
                    
                    $("#groupsInfo h3").html(obj.LabName);

                    $("#groupsTable tr").detach();
                    $("#groupsTable").append("<tr><th>Группа</th><th>Кол-во студентов</th><th>Отл.</th><th>Хор.</th><th>Удовл.</th><th>Неуд.</th><th>Не явился</th></tr>");

                    for (var i = 0; i < obj.Marks.length; i++) {
                        $("#groupsTable").append("<tr value='" + obj.Marks[i].Id + "'><td>" + obj.Marks[i].Name + "</td><td class='studCount'>" + obj.Marks[i].StudentsCount + "</td><td class='count5' value='" + obj.Marks[i].Count5 + "'></td><td class='count4' value='" + obj.Marks[i].Count4 + "'></td><td class='count3' value='" + obj.Marks[i].Count3 + "'></td><td class='count2' value='" + obj.Marks[i].Count2 + "'></td><td class='count0' value='" + obj.Marks[i].Count0 + "'></td></tr>");
                    };

                    RetrieveValue();

                    break;
                case 1:
                    $("#error").html("Ошибка! Попробуйте обновить страницу");
                    break;
            };
        };

        function RetrieveValue() {
            var num = [5, 4, 3, 2, 0];
            for (var j in num) {
                el = $("#groupsTable td.count" + num[j]);
                for (var i = 0; i < el.length; ++i) {
                    $(el[i]).html($(el[i]).attr("value"));
                };
            };
        };
    </script>
}