@model GraphLabs.Site.Models.Groups.GroupModel

@{
    ViewBag.Title = "Результаты - Список студентов";
}

<hgroup>
    <h2>@ViewBag.Title</h2>
    @Html.ActionLink("Обратно к списку групп", "Index")
</hgroup>
<br />

<span class="field-validation-error">
    @ViewBag.Message
</span>

<style type="text/css">
    .idColumn { width: 10%; }
    .surnameColumn { width: 20%; }
    .nameColumn { width: 20%; }
    .fatherNameColumn { width: 20%; }
</style>

@{
    var grid = new WebGrid(Model.Students, canPage: true, canSort: true, rowsPerPage: 10);
    grid.Pager(WebGridPagerModes.All);
    @grid.GetHtml(tableStyle: "Grids",
            headerStyle: "grid-header",
            footerStyle: "grid-footer",
            rowStyle: "grid-row",
            alternatingRowStyle: "grid-row",
            selectedRowStyle: "grid-selected-row",
            caption: null,
            displayHeader: true,
            htmlAttributes: new { id = "datatable" },

            columns: grid.Columns(
                grid.Column(header: "#", format: @<text> @if (item.IsDismissed)
                {<span class="isdismiss">@item.Id</span>}
                else
                {<span>@item.Id</span>} </text>, columnName: "Id", style: "idColumn"),
                grid.Column(header: "Фамилия", format: @<text> @if (item.IsDismissed)
                {<span class="isdismiss">@item.Surname</span>}
                else
                {<span>@item.Surname</span>} </text>, columnName: "Surname", style: "surnameColumn"),
                grid.Column(header: "Имя", format: @<text> @if (item.IsDismissed)
                {<span class="isdismiss">@item.Name</span>}
                else
                {<span>@item.Name</span>} </text>, columnName: "Name", style: "nameColumn"),
                grid.Column(header: "Отчество", format: @<text> @if (item.IsDismissed)
                {<span class="isdismiss">@item.FatherName</span>}
                else
                {<span>@item.FatherName</span>} </text>, columnName: "FatherName", style: "fatherNameColumn")
                )
            );


}

<div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(function () {
            $('tbody tr').click(function () {
                location.href = '/Result/StudentResult/' + $(this).find('td:first').text();
            });
        });
    </script>
}
