@model GraphLabs.Site.Models.CreateLabVariant

@{
    ViewBag.Title = "Создание вариант лабораторной работы";
}

<h2>Лабораторная работа "@Model.LabName"</h2>

<div id="createLabLeftPanel">
    <h3 class="buttonCenter">Варианты заданий</h3>
    <input id="firstSelectSize" type="number" value="10" />
<select id="firstSelect" class="labSelectLeft" size="10">
    @foreach (var item in Model.Variants)
    {
        <option class="header">
            @item.Key
        </option>
        foreach (var elem in item.Value)
        {
            <option class="variant unmarked" value="@elem.Key">
                @elem.Value
            </option>
        }
    }        
</select>
    <div class="buttonCenter">
        <input id="CloseAll" type="button" value="Скрыть все" />
        <input id="OpenAll" type="button" value="Открыть все" />
    </div>
</div>

<input id="delOpt" class="arrowButton" type="button" value="<"/>
<input id="addOpt" class="arrowButton" type="button" value=">"/>

<div id="createLabRightPanel">
    <h3 class="buttonCenter">Вариант котрольной</h3>
    <input id="secondSelectSize" type="number" value="10" />
    <select id="secondSelect" class="labSelectRight" size="10">
    </select>
    <div class="buttonCenter">
        <input id="VarUp" type="button" value="˄"/>
        <input id="VarDown" type="button" value="˅"/>
    </div>
</div>

@section Scripts
{
    <script>
        var options = [];
        var numberOfHeaders = @Model.Variants.Count

        $(document).ready(function () {
            SetIdToHeaderOptions();
            MarkedVariantOptions();
            HideAllOptions();
            $("#firstSelect").focus();
        });

        function SetIdToHeaderOptions() {
            $("#firstSelect option.header").attr("id", function (index, attr) { return index; } );
        };

        function MarkedVariantOptions() {
            for (var i = numberOfHeaders - 1; i >= 0; --i) {
                options[i] = $("#" + i + " ~ option.variant.unmarked").toggleClass("unmarked opt" + i);
            };
        };

        function HideAllOptions() {
            for (var i = numberOfHeaders - 1; i >= 0; --i) {
                options[i] = $("#" + i + " ~ option.variant").detach();
            };
        };

        $("#CloseAll").click(function () {
            for (var i = 0; i < numberOfHeaders; ++i) {
                var header = $("#firstSelect option.header#" + i);
                if (header.attr("data-open") == "true") {
                    HideOptions(i);
                    header.attr("data-open", "false");
                };
            };
        });

        $("#OpenAll").click(function () {
            for (var i = 0; i < numberOfHeaders; ++i) {
                var header = $("#firstSelect option.header#" + i);
                if (header.attr("data-open") != "true") {
                    ShowOptions(i);
                    header.attr("data-open", "true");
                };
            };
        });

        $("#firstSelect option.header").click(function () {
            if (this.getAttribute("data-open") == "true") {
                HideOptions(this.getAttribute("id"));
                this.setAttribute("data-open", "false");
            }
            else {
                ShowOptions(this.getAttribute("id"));
                this.setAttribute("data-open", "true");
            }
        });
        
        function ShowOptions(id) {
            $("#" + id).after(options[id]);
        };

        function HideOptions(id) {
            $("#" + id + " ~ option.variant.opt"+id).detach();
        };

        $("#firstSelectSize").change(function () {
            var p = $("#firstSelectSize");
            if (p.val() < 2) {
                p.val(2);
            };
            $("#firstSelect").attr("size", p.val());
        });

        $("#secondSelectSize").change(function () {
            var p = $("#secondSelectSize");
            if (p.val() < 2) {
                p.val(2);
            };
            $("#secondSelect").attr("size", p.val());
        });

        $("#addOpt").click(function () {
            var elem = $("#firstSelect option.variant:selected");
            if (elem.length == 0) {
                return;
            };
            if (elem.attr("disabled") == "disabled") {
                return;
            };
            elem.removeClass("variant");
            var elemClass = elem.attr("class");
            var groupId = elemClass.substr(3);
            var groupName = $("#firstSelect option.header#" + groupId).val();
            $("#secondSelect").append(elem.clone());
            $("#secondSelect option." + elemClass).prepend(groupName+": ");
            $("#firstSelect option." + elemClass).attr("disabled", "disabled");
            elem.addClass("variant");
            $("#firstSelect").focus();
        });

        $("#firstSelect option.variant").dblclick(function () {
            $("#addOpt").click();
        });

        $("#delOpt").click(function () {
            var elem = $("#secondSelect option:selected");
            if (elem.length == 0) {
                return;
            };
            var elemClass = elem.attr("class");
            var groupId = elemClass.substr(3);
            var group = $("#firstSelect option.header#" + groupId);
            elem.remove();
            if (group.attr("data-open") != "true") {
                group.click();
            };
            $("#firstSelect option.variant." + elemClass).removeAttr("disabled");
            $("#secondSelect").focus();
        });

        $("#VarUp").click(function () {
            var opt = $("#secondSelect option:selected");
            if (opt.length == 0) {
                return;
            };
            var prev = opt.prev();
            if (prev.length == 0) {
                return;
            };
            var p = opt.detach();
            prev.before(p);
        });

        $("#VarDown").click(function () {
            var opt = $("#secondSelect option:selected");
            if (opt.length == 0) {
                return;
            };
            var next = opt.next();
            if (next.length == 0) {
                return;
            };
            var p = opt.detach();
            next.after(p);
        });

        $("#firstSelect").keydown(function (e) {
            switch (e.which) {
                case 13:
                    var elem = $("#firstSelect option.variant:selected");
                    if (elem.length != 0) {
                        $("#addOpt").click();
                    };
                    elem = $("#firstSelect option.header:selected");
                    if (elem.length != 0) {
                        elem.click();
                    };
                    break;
            };
        });

        $("#secondSelect").keydown(function (e) {
            switch (e.which) {
                case 13:
                    var elem = $("#secondSelect option:selected");
                    if (elem.length != 0) {
                        $("#delOpt").click();
                    };
                    break;
            };
        });

    </script>
}