@using GraphLabs.Site.Controllers
@model GraphLabs.Site.Models.Account.ChangePasswordModel

<h3>Изменить пароль</h3>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Данные для изменения пароля</legend>
        <p>
            @Html.ValidationMessage(GraphLabsController.STD_VALIDATION_MSG_KEY)
        </p>
        <ol>
            <li>
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword)
                @Html.ValidationMessageFor(m => m.OldPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
                @Html.ValidationMessageFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Изменить пароль" />
    </fieldset>
}
