@using GraphLabs.Site.Controllers
@model GraphLabs.Site.Models.AuthModel

@{
    ViewBag.Title = "Вход в GraphLabs";
}

<h1>@ViewBag.Title.</h1>


<section id="loginForm">
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Данные для входа</legend>
        <p>
            @Html.ValidationMessage(GraphLabsController.STD_VALIDATION_MSG_KEY)
        </p>
        <ol>
            <li>
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>
        </ol>
        <input type="submit" value="Вход" />
    </fieldset>
    <p>
        @Html.ActionLink("Зарегистрироваться", "Register"), если у вас всё ещё нет учётной записи.
    </p>
}
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
